build/
install/
log/
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/
.vscode/settings.json
.DS_Store
Thumbs.db
.dockerignore
.colcon_install_layout
COLCON_IGNORE
*.model.backup
*.world.backup
*.bag
*.db3
*.mcap